name: Build and Test
on:
  push:
    branches:
      - "**"
  workflow_dispatch:

permissions:
  contents: read

env:
  CFLAGS: "-O2 -g3 -Wall -Werror"
  NO_INTERACTION: "1"
  REPORT_EXIT_STATUS: "1"

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        compiler:
          - clang
          - gcc
        php:
          - '8.1'
          - '8.2'
          - '8.3'
          - '8.4'
          - '8.5'
    name: "Build and Test (PHP ${{ matrix.php }}, CC: ${{ matrix.compiler }}, no Valgrind)"
    runs-on: ubuntu-latest
    steps:
      - name: Check out the source code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: ${{ matrix.php }}
          tools: none
          coverage: none

      - name: Build
        run: phpize && ./configure CC=${{ matrix.compiler }} --silent && make --silent

      - name: Run tests
        run: make test
        env:
          TEST_PHP_ARGS: "--show-diff --show-out"

  ci-valgrind:
    strategy:
      fail-fast: false
      matrix:
        php:
          - '8.1'
          - '8.2'
          - '8.3'
          - '8.4'
        experimental:
          - false
        include:
          - php: '8.5'
            experimental: true

    name: "Build and Test (PHP ${{ matrix.php }}, with Valgrind)"
    runs-on: ubuntu-latest
    steps:
      - name: Check out the source code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install valgrind
        run: sudo apt-get -qq update && sudo apt-get -y install valgrind

      - name: Set up PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: ${{ matrix.php }}
          tools: none
          coverage: none

      - name: Build
        run: phpize && ./configure --silent && make --silent

      - name: Run tests
        run: make test
        env:
          TEST_PHP_ARGS: "-m --show-diff --show-out --show-mem -d pcre.jit=0"
        continue-on-error: ${{ matrix.experimental }}
